.cat {
  height: 200px;
  width: 400px;
  background: url("../image/cat_walk_cycle_sprite.png");
  animation: sprite 2s steps(12) infinite;
}

@keyframes sprite {
  to {
    background-position: 0 -2400px;
  }
}
