body {
  overflow: hidden;
}

.container {
  margin: 5px;
}

#game_field {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
}

#man {
  height: 159px;
  width: 94px;
  background: url("../image/man_walking_sprite.png");
  position: relative;
  left: 50%;
  top: 50%;
}

.player {
  margin-top: 10px;
}
