* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    overflow: hidden;
}

.container {
    width: 800px;
    margin: 10px 0 0 10px;
    padding: 0;
}

#cat_path {
    height: 200px;

    border: thin solid black;
    overflow: hidden;
    background-color: lightblue;
}

#cat {
    height: 200px;
    width: 400px;
    /* image from https://www.pngwing.com/en/free-png-isude */
    background: url("../image/cat_walk_cycle_sprite.png");
    background-position: 0 0;
    position: relative;
    left: 800px;
}

.player {
    margin: 10px 0;
}